<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/forgotPassword" method="POST">
        
        <label for="email"> Confirm Email</label><br>
        <input type="email" id="email" name="email"><br>
        <input type="submit" id="submit" >    
    
</body>
</html>