<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/login" method="POST">
        
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" id="submit" >
    </form>
    
    <form action="/users/forgotPassword" method="GET">
        <input type="submit" value="Forgot Password">

    </form>
    
    
</body>
</html>