<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        
        <label for="password"> Enter new password</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" id="submit" >    
    
</body>
</html>