<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Name</h3>
        <p> <%= username %> </p>
        <h3>Email</h3>
        <p> <%= email %> </p>
        <form action="/users/logout" method="GET">
            <input type="submit" value="logout" >
        </form>
    </div>
</body>
</html>